<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Amalgama - Challenge Ejércitos</title>
        <!-- CSS styles -->
        <link rel="stylesheet" href="/css/app.css">
        <!-- CSS only -->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous">
        <link rel="icon" type="image/png" href="/img/logo.png">
    </head>
    <body>
        <main class="container-fluid">
            <header class="row bg-dark">
                <article class="col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h1>Amalgama | Challenge: Ejércitos</h1>
                </article>
            </header>
            <article class="row p-3">
                <article class="col-12">
                    <code class="content-presentation-text text-warning">
                        Bienvenido al #AmalgamaChallenge. Si deseas ver el código, puede hacerlo mediante su IDE
                        de desarrollo favorito, y agregando el proyecto en el mismo. Tus consultas son de gran aprecio,
                        si tienes dudas, contáctame a <strong>+54 9 1124-7670-08.</strong> Tecnologías usadas: ['Node JS', 'Express JS']  <span class="cursor"></span>
                    </code>
                </article>
                <article class="col-12 p-5">
                    <a href="/api" target="_blank" class="btn btn-warning m-auto d-block col-1">Ver API</a>
                </article>    
            </article>
        </main>
        <script src="/js/index.js"></script>
    </body>
</html>